
<h1 class="home"> Welcome to ListeningSession, <%=@user.full_name%>!</h1>
<body class="home">
  <img src="https://img.wavescdn.com/1lib/images/blog/banners/top-tips-for-recording-mixing-better-sounding-podcasts/1.jpg">
</body>
<br>
<br>
  <p class="home"><%= link_to "View My Profile", @user %>
  <p class="home"><%= link_to "Log out", logout_path, method: :delete %>
