<h3><p><%= button_to "Return to My Profile", user_path(current_user), method: :get%></h3>
<h1>Users</h1>
  <ul>
    <% @users.each do |user|%>
      <%if user.id != current_user.id %>
        <p> <%= baccano_for user, size: 35 %>
            <%=link_to user.full_name, user_path(user)%>
            
      <%end%>


    <%end%>


  <ul>
