// Place all the styles related to the Favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.home {
  border-bottom: 20px solid white;
  background-color: #21c490;
  font: 60px arial;
  color: white;

}
