<h1 class="podcasts" > Podcasts</h1> 
<br>
<!-- <ol class="podcasts"> -->
<% @podcasts.each do |podcast| %>
<li class="podcasts"><%=link_to podcast.title, podcast %></li><br>
<%end%>
<!-- </ol> -->
<%= button_to "Return to My Profile", user_path(current_user), method: :get%>
